main {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-top: 0;
    color: #000000;
}
label {
    display: block;
    margin-bottom: 0px;
    color: #000000;
}

#nome, #cpf, #aniversario, #cep, #email, #senha{
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

button {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.erroMessage{
    color: red;
}

